<aside>

        <div style="width:400px; border: 5px solid; padding: 25px; margin: 20px; position:absolute; left:35%">
     
            <h3>Name:{{starship.name}} </h3>
        <h3>model: {{starship.model}}</h3>
        <h3>manufacturer: {{starship.manufacturer}} </h3>
        <h3> cargo capacity: {{starship.cargo_capacity}}</h3>
        <h3>Film title: {{film.title}}</h3>
        </div>
    

    </aside>