<aside>

        <div style="width:400px; border: 5px solid; padding: 25px; margin: 20px; position:absolute; left:35%">
        <h3>Name:{{vehicle.name}}</h3>
        <h3>model: {{vehicle.model}}</h3>
        <h3>manufacturer: {{vehicle.manufacturer}} </h3>
        <h3>vehicle_class: {{vehicle.vehicle_class}}</h3>
        <h3>Film title: {{film.title}}</h3>
        </div>
    

    </aside>