<div style="width: 300px; border: 5px solid; display:inline-block; margin:10px; padding:10px">
<h3 > 
    <h4>Type: {{history.type}}</h4> <h4>Id: {{history.id}}</h4>  <h4>Date: {{history.time | date: 'medium'}}</h4>  
    <button (click)='emitfillFormFields(history)' style="background-color:grey; color:white; padding: 8px 20px; text-align: center; display:inline-block;font-size:13px; "> Search Again</button>
</h3>

</div>