<aside>

        <div style="width:400px; border: 5px solid; padding: 25px; margin: 20px; position:absolute; left:35%">
        <h3> Name:{{specie.name}} </h3>
        <h3>classification: {{specie.classification}} </h3>
        <h3>designation: {{specie.designation}} </h3>
        <h3>average lifespan: {{specie.average_lifespan}}</h3>
        <h3>Film title: {{film.title}}</h3>
        </div>
    

    </aside>