<aside>

        <div style="width:400px; border: 5px solid; padding: 25px; margin: 20px; position:absolute; left:35%">
        <h3>Name:{{planet.name}} </h3>
        <h3>rotation_period: {{planet.rotation_period}}</h3>
        <h3>diameter: {{planet.diameters}}</h3>
        <h3>gravity: {{planet.gravity}} </h3>
        <h3>Film title: {{film.title}}</h3>
        </div>
    

    </aside>