<aside>

    <div style="width:400px; border: 5px solid; padding: 25px; margin: 20px; position:absolute; left:35%">
    <h3>Name: {{people.name}} </h3>
    <h3>Gender: {{people.gender}}</h3>
    <h3>birth year: {{people.birth_year}} </h3>
    <h3>Film title: {{film.title}}</h3>
    </div>

</aside>