*{
    margin: 10px
    
}

@font-face{
    font-family: 'starwars';
    src: url('../assets/Starjhol.ttf')
}

button{
    background-color:grey; color:white; padding: 8px 20px; text-align: center; display:inline-block;font-size:13px;
    font-family: 'arial'
}
select{
    padding: 8px 20px;
    font-size: 16px;
}
option,span{
    font-size: 16px;
}