<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="" id="banner"> -->
  <h1 style="
  text-align:center; 
  vertical-align:middle;
  line-height: 70px;
  font-family: 'starwars';
  margin:0;
  height:80px;
    color:yellow;
    background-color: black;
    /* background-image: url('../assets/navbg.jpg');
    background-size:cover; */
 
   ">
    {{title}}
  </h1>
  
  <div style='text-align:center; '> 
  
  <!-- <select (change)="updateAppRender()" [(ngModel)]='selectedType'> -->
    <label>Type<select [(ngModel)]="selectedType" >
      <option *ngFor="let type of selectionType" [value]="type">{{type}}</option>
      <!-- <option>TEST</option> -->
    </select>
  </label>

    <label>Id<select [(ngModel)]="typeNumber">
        <option *ngFor="let number of [1,2,3,4,5,6]" [value]="number">{{number}}</option>
        <!-- <option>TEST</option> -->
      </select>
    </label>
      
      <button 
      [disabled]='selectedType==undefined || typeNumber==undefined' 
      (click)="onSubmitRequest()"
      
      >
      
      SEARCH</button>
      <button (click)="showHistory()" >HISTORY</button>
      <h3 *ngIf="showComponenets.error">Error Retrieving Data</h3>
      <div *ngIf='showComponenets.history'>
        <h1>HISTORY</h1>
        <app-history-render 
        *ngFor="let history of searchHistory" 
        [history]='history'
        (fillFormFields)=fillFormFieldstHandler($event)
        ></app-history-render>
      </div>
      <app-people-render *ngIf="showComponenets.people" [people]='selectedTypeData' [film]='film' ></app-people-render>
      <app-planet-render *ngIf="showComponenets.planet" [planet]='selectedTypeData' [film]='film'></app-planet-render>
      <app-specie-render *ngIf="showComponenets.specie" [specie]='selectedTypeData' [film]='film'></app-specie-render>
      <app-starship-render *ngIf="showComponenets.starship" [starship]='selectedTypeData' [film]='film'></app-starship-render>
      <app-vehicle-render *ngIf="showComponenets.vehicle" [vehicle]='selectedTypeData' [film]='film'></app-vehicle-render>
    </div>
<!-- </div> -->




<router-outlet></router-outlet>
